@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    /*font-optical-sizing: auto;*/
    /*font-style: normal;*/
    background: linear-gradient(to right,rgba(205,201,63,0.76),rgba(23, 190, 187, 0.4));
    color: white;
}

.header {
    /*background: linear-gradient(to right,rgba(205,201,63,0.76),rgba(23, 190, 187, 0.4));*/
    padding: 10px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(23, 190, 187, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Небольшая тень для выделения шапки */
}

.header_pillow {
    height: 8vh;
}

.header_logo {
    font-size: 19px;
    font-weight: 800;
    margin: 10px;
    /*border: 3px solid cornflowerblue;*/
}

.header_display_user {
    /*border: 3px solid deepskyblue;*/
}

.ul_menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    /*border: 3px solid cornflowerblue;*/
}

.menu_li {
    font-size: 19px;
    font-weight: 800;
    margin: 10px;
    transition: transform 0.25s ease;
    /*border: 3px solid lightcoral;*/
}


.menu_li:hover {
    transform: scale(1.1);
}

a {
    color: white;
    text-decoration: none;
}

.reg_log_h2 {
    margin: 10px;
}

.main_reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.reg_form {
    background: #3414;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.reg_error {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 19px;
    background: #C70039;
    color: #38ffc6;
    display: flex;
    justify-content: center;
}

.main_log {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.log_form {
    background: #3414;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

form input {
    font-family: "Nunito", sans-serif;
    color: #4f3580;
    margin: 10px;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    width: 80%;
    /*max-width: 10vw;*/
}

.reg_but {
    font-family: "Nunito", sans-serif;
    margin: 20px 20px;
    padding: 10px;
    background-color: #fff;
    color: #4f3580;
    width: 60%;
    /*max-width: 5vw;*/
    border-radius: 20px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    transition: transform 0.25s ease;
}

.reg_but:hover {
    /*background: rgba(23, 190, 187, 1);*/
    transform: scale(1.1);
}


.main_chat_page {
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    border: 3px solid cornflowerblue;
    height: 82vh;
}

/*.chat_h1 {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.users_and_chats {
    /*background-color: rgba(23, 190, 187, 1);*/
    /*background: #3414;*/
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 3px solid black;
    min-width: 15%;
    max-width: 20%;
    /*border-right: 1px dashed white;*/
    box-shadow:  0px 0px 4px rgba(0, 0, 0, 0.2);
    height: 82vh;
    z-index: 1;
    /*position: fixed;*/
    /*left: 0;*/
}

.potential_chats {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    /*border: 3px solid red;*/
    /*margin-top: 20px;*/
    padding: 10px 0;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); !* Небольшая тень для выделения шапки *!*/
}

.potential_chat {
    /*border: 3px solid grey;*/
    display: flex;
    /*justify-content: center;*/
    word-wrap: break-word;
    /*word-break: break-all;*/
    font-size: 15px;
    font-weight: 700;
    /*border-radius: 7px;*/
    /*border-radius: 20px;*/
    /*margin: 5px;*/
    padding: 5px 15px;
    cursor: pointer;
    width: 100%;
    /*margin-left: 20px;*/

}

.potential_chat:hover {
    background-color: rgba(23, 190, 187, 0.2);
}

.user_chats {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    /*border-top: 1px dashed white;*/
    /*border: 3px solid red;*/
    /*margin: 5px 0;*/
    /*padding-top: 10px;*/
}

.user_chat {
    /*border: 3px solid green;*/
    display: flex;
    /*justify-content: center;*/
    word-wrap: break-word;
    /*word-break: break-all;*/
    font-size: 15px;
    font-weight: 700;
    /*border-radius: 7px;*/
    /*border-radius: 20px;*/
    /*margin: 5px;*/
    padding: 5px 15px;
    cursor: pointer;
    width: 100%;
}
.inner_user_chat{
    /*border: 3px solid green;*/
    /*margin-left: 15px;*/
    /*padding: 5px;*/
}
h3 {
    margin-bottom: 5px;
}

.user_chat:hover {
    background-color: rgba(23, 190, 187, 0.2);
}

.user_online {
    color: rgba(23, 190, 187, 1);
    font-weight: 800;
}

.user_offline {
    display: none;
}

.chat_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 3px solid yellow;
    /*border-left: 1px dashed white;*/
    /*min-width: 60%;*/
    /*max-width: 70%;*/
    /*padding: 10px;*/
    width: 80%;
}

.choose_dialog {
    font-size: 19px;
    /*display: flex;*/
    /*justify-content: center;*/
    position: fixed;
    left: 40%;
    top: 10%;
    /*border: 3px solid darkblue;*/
}
.chat_header{
    display: flex;
    justify-content: center;
    /*border: 3px solid hotpink;*/
    font-size: 20px;
    margin-top: 10px;
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    border: 3px solid #df5faa;
    height:80vh;
    /*width: 100%;*/
    /*max-width: 100%;*/
    /*position: fixed;*/
    /*overflow-y: auto;*/
    word-wrap: break-word;
    /*word-break: break-all;*/
    width: 80%;
}

/* Для WebKit браузеров */
.messages::-webkit-scrollbar {
    display: none;
}

/* Для Firefox */
.messages {
    scrollbar-width: none;
}

/* Для Internet Explorer и Edge */
.messages {
    -ms-overflow-style: none;
}


.message{
    display: flex;
    padding: 10px;
    background: rgba(115, 112, 112, .2);
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
}

.message_footer {
    /*display: flex;*/
    float: right;
    font-size: 14px;
    font-weight: 600;
    /*background: rgba(115, 112, 112, .2);*/
    border-radius: 7px;
    padding: 2px 5px;
}

.align_self_end {
    align-self: end;
    margin: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    /*border-bottom: 2px dotted rgba(115,164,191, .6);*/
    max-width: 50%;
}

.align_self_start{

    align-self: start;
    margin: 5px;
    padding-bottom: 5px;
    /*border-bottom: 3px dotted rgba(113,43,172, .6);*/
    /*border-bottom: 2px dotted rgba(115,164,191, .6);*/
    max-width: 50%;
}

.chat_bottom{
    background-color: rgba(23, 190, 187, 1);
    display: flex;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    bottom: 0;
    /*border: 3px solid #4f3580;*/
    /*border-top: 1px dashed white;*/
    left: 0;
    height: 10vh;
    justify-content: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.bottom_pillow {
    /*border: 3px solid saddlebrown;*/
    height: 10vh;
    width: 100%;
}

.chat_input {
    display: flex;
    width: 40vw;
    /*border: 3px dotted #38ffc6;*/
}

.send_btn {
    font-family: "Nunito", sans-serif;
    color: #ffffff;
    /*padding: 10px;*/
    background-color: rgba(23, 190, 187, 1);
    min-width: 100px;
    max-width: 15vw;
    height: 33px;
    align-self: center;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-weight: 800;
    transition: transform 0.25s ease;
}
.send_btn:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 700px) {
    .chat_box {
        min-width: 80%;
    }
}

@media screen and (min-width: 1600px) {
    .chat_box {
        min-width: 55%;
    }
}